/* You can add global styles to this file, and also import other style files */
body {
    height: calc(100vh - 32px);
    background: lightblue;
    margin: 0px;
}
.outlet-frame	{
    width:100%;
    height: 100%;
    background:#FFFFFF;
    border:none;
}

.my-outlet-frame	{
    width:100%;
    height: 100%;
    background: lightyellow;
    border:none;
}